<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Screen Shot Path-->
    <add key="ExportPath" value="E:\SampleFolder"/>

    <!--Set Time in Seconds for How long once? Set Minimum 20 -->
    <add key="TimeinSeconds" value="30"/>

    <!--YES - To Send, NO - Do not send-->
    <add key="SendMail" value="NO"/>

    <add key="toMailId" value="*****@test.com"/>
    <add key="subject" value="ScreenShot"/>
    <add key="body" value="Your Screenshot"/>

  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="*****@test.com" deliveryMethod="Network">
        <network
            defaultCredentials="false"
            host="smtp.gmail.com"
            port="587"
            password="**************"
            userName="*****@test.com"
            enableSsl="true"
                    />
        <!-- When using .Net 4.0 (or later) add attribute: enableSsl="true" and you're all set-->
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
